.styleInput {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 25px;
    outline: none !important;
    border-width: 2px;
    box-shadow: none;
    margin-top: 3%;
  }