<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-5 col-md-7 mx-auto " style="margin-top: 10%;">
      <div class="card_register">
        <div class="card shadow">
          <div class="card-body">
            <div class="row">
              <div class="col-9"><h1 class="h3 mb-3 font-weight-normal">{{title}}</h1></div>
              <div class="col-3"><a routerLink="/user/register">Registrate aqui</a></div>
            </div>
            

            <hr>
            <form class="loginForm" name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">

              <div class="row">
                <div class="col-md-12" style="text-align: center;">
                  <img style="width: 70px;" src="../../../assets/avatar.svg">
                </div>
              </div>


              <div class="row">
                <div class="col">
                  <input type="text" class="form-control input styleInput" formControlName="email" placeholder="Correo Electronico"
                    [ngStyle]="{'border-color': email.invalid && (email.dirty || email.touched) ? 'red' : (email.valid ? '#5cb85c' : null) }" />
                  <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div class="container-error-message" *ngIf="email.errors.required" style="text-align:left">
                      <span class="far fa-frown form-control-feedback" style="color: red;"></span>
                      <i class="fa fa-times"></i><a class="message">El campo es requerido</a>
                    </div>
                    <div class="container-error-message" *ngIf="email.errors.pattern" style="text-align:left">
                      <span class="far fa-frown form-control-feedback" style="color: red;"></span>
                      <i class="fa fa-times"></i><a class="message">No es una direccion valida</a>
                    </div>
                  </div>
                  <div *ngIf="email.valid">
                    <span class="fas fa-check form-control-feedback" style="color: #5cb85c;"></span>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col">
                  <input type="password" class="form-control input styleInput" formControlName="password" placeholder="Contraseña"
                    [ngStyle]="{'border-color': password.invalid && (password.dirty || password.touched) ? 'red' : (password.valid ? '#5cb85c' : null) }" />
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div class="container-error-message" *ngIf="password.errors.required" style="text-align:left">
                      <span class="far fa-frown form-control-feedback" style="color: red;"></span>
                      <i class="fa fa-times"></i><a class="message">El campo es requerido</a>
                    </div>
                    <div class="container-error-message" *ngIf="password.errors.minlength" style="text-align:left">
                      <i class="fa fa-times"></i><a class="message">El minimo requerido es 8 caracteres</a>
                    </div>
                  </div>
                  <div *ngIf="password.valid && error != null">
                    <span class="fa fa-check form-control-feedback" style="color: #5cb85c;"></span>
                  </div>
                </div>
              </div>

              <p>{{error}}</p>
              <div class="row"><input type="submit" class="col btn btn-primary" value="Iniciar Sesion"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>